body {
  background-color: #1BBC9B;
  display: table;
  position: static;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em; }

#rotate {
  border: 1px solid black;
  height: 100px;
  width: 100px; }

.over {
  transform: rotate(-180deg);
  transition: transform 150ms ease; }

.out {
  transform: rotate(-360deg);
  transition: transform 150ms ease; }

.envelope {
  position: relative;
  margin: 3.125em auto 0;
  width: 7em;
  height: inherit;
  background: #c94548;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 1px #c94548 inset;
  margin-bottom: 1.875rem; }

.envelope:after {
  content: '';
  margin: 0 auto;
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 1.5em 2.49em;
  border-right-color: #E57D25;
  border-left-color: #F0C312;
  border-bottom-color: #F29A13;
  top: 0;
  border-radius: 0 0 2px 2px;
  transform: rotate(360deg);
  box-shadow: -0.0625rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.25); }

.paper {
  background: #FFFFFF;
  width: 4.8125rem;
  height: 4.125rem;
  margin: 0 -0.3125rem;
  position: absolute;
  left: 0.40625rem;
  top: -2.0625rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }

.paper:before,
.paper:after {
  content: '';
  position: absolute;
  left: 0.75rem;
  background: #FFFFFF;
  height: 0.25rem;
  border-radius: 0.3125rem; }

.folding {
  position: absolute;
  left: 4.125rem;
  top: 0rem;
  padding: 0px;
  border: 0.375rem solid #E44740;
  border-right-color: #1BBC9B;
  border-top-color: #1BBC9B;
  box-shadow: -2px 3px 0 rgba(136, 136, 136, 0.5); }

.envelope_container {
  position: absolute;
  top: -1.0625em;
  left: -8.125em;
  display: inline-block; }
  .envelope_container p {
    font-size: 16px;
    color: white;
    display: inline-block;
    margin-top: 0.75rem;
    position: absolute; }
  .envelope_container .envelope {
    display: inline-block; }

@media (max-width: 800px) {
  .envelope_container {
    font-size: 20px;
    top: -11.875em;
    left: 8.5em; } }
@media (max-width: 500px) {
  .envelope_container {
    left: 35%; }
    .envelope_container p {
      margin-top: 0.25rem; }

  .envelope:after {
    border-width: 1.2em 1.992em; }

  .paper {
    width: 3.85em;
    height: 3.1em;
    top: -1.375rem; }

  .folding {
    left: 3.31em;
    top: -0.05em;
    border: 0.3125rem solid #E44740;
    border-right-color: #1BBC9B;
    border-top-color: #1BBC9B; } }
.login_container {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  max-width: 22.5rem;
  height: 14.625rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #EEEFF1;
  margin: auto;
  padding-top: 0.3125rem;
  display: inline-block; }

.login_container:after {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 13%;
  margin-left: -2%;
  content: '';
  transform: rotate(45deg);
  border-radius: 1px;
  background: #EEEFF1; }

#user {
  position: absolute;
  right: 10%;
  top: 14%;
  color: #C0C3C4; }

#lock {
  position: absolute;
  right: 10%;
  top: 37%;
  color: #C0C3C4; }

@media (max-width: 800px) {
  .login_container {
    margin-top: 13rem;
    max-width: 22.5rem;
    height: 14.625rem; }

  .login_container:after {
    top: -3%;
    margin-left: 47%; } }
@media (max-width: 500px) {
  .login_container {
    width: 80%;
    max-width: 13.5rem;
    height: 10.2375rem;
    margin-top: 15rem; } }
.contact_form input, .contact_form button {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #FFFFFF;
  color: #C0C3C4;
  font-weight: lighter;
  border: none;
  width: 100%;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  padding: 0.625rem 1.75rem 0.5rem 1.75rem;
  display: block;
  margin: 1.1em 0;
  font-size: 1em; }

.contact_form {
  width: 87.5%;
  margin: 0.625rem auto 0.5rem auto; }
  .contact_form input::placeholder {
    color: #C0C3C4; }
  .contact_form button {
    background-color: #15BE97;
    color: #CAF9F6;
    font-weight: 300; }
  .contact_form span a:hover, .contact_form span a:visited, .contact_form span a:link, .contact_form span a:active {
    display: inline-block;
    color: #CED2D5;
    width: 100%;
    text-align: center;
    font-size: 0.875rem; }

@media (max-width: 500px) {
  .contact_form input {
    padding: 0.625rem 1.75rem 0.5rem 1.75rem;
    display: block;
    margin: .8em 0;
    font-size: .8em; }
  .contact_form button {
    height: 2.5em;
    font-size: .8em;
    margin: .0em 0; }
  .contact_form span {
    margin: .8em 0; }
    .contact_form span a:hover, .contact_form span a:visited, .contact_form span a:link, .contact_form span a:active {
      font-size: .7em; } }
.envelope {
  position: relative;
  margin: 3.125em auto 0;
  width: 7em;
  height: inherit;
  background: #c94548;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 1px #c94548 inset;
  margin-bottom: 1.875rem; }

.envelope:after {
  content: '';
  margin: 0 auto;
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 1.5em 2.49em;
  border-right-color: #E57D25;
  border-left-color: #F0C312;
  border-bottom-color: #F29A13;
  top: 0;
  border-radius: 0 0 2px 2px;
  transform: rotate(360deg);
  box-shadow: -0.0625rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.25); }

.paper {
  background: #FFFFFF;
  width: 4.8125rem;
  height: 4.125rem;
  margin: 0 -0.3125rem;
  position: absolute;
  left: 0.40625rem;
  top: -2.0625rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }

.paper:before,
.paper:after {
  content: '';
  position: absolute;
  left: 0.75rem;
  background: #FFFFFF;
  height: 0.25rem;
  border-radius: 0.3125rem; }

.folding {
  position: absolute;
  left: 4.125rem;
  top: 0rem;
  padding: 0px;
  border: 0.375rem solid #E44740;
  border-right-color: #1BBC9B;
  border-top-color: #1BBC9B;
  box-shadow: -2px 3px 0 rgba(136, 136, 136, 0.5); }

.envelope_container {
  position: absolute;
  top: -1.0625em;
  left: -8.125em;
  display: inline-block; }
  .envelope_container p {
    font-size: 16px;
    color: white;
    display: inline-block;
    margin-top: 0.75rem;
    position: absolute; }
  .envelope_container .envelope {
    display: inline-block; }

@media (max-width: 800px) {
  .envelope_container {
    font-size: 20px;
    top: -11.875em;
    left: 8.5em; } }
@media (max-width: 500px) {
  .envelope_container {
    left: 35%; }
    .envelope_container p {
      margin-top: 0.25rem; }

  .envelope:after {
    border-width: 1.2em 1.992em; }

  .paper {
    width: 3.85em;
    height: 3.1em;
    top: -1.375rem; }

  .folding {
    left: 3.31em;
    top: -0.05em;
    border: 0.3125rem solid #E44740;
    border-right-color: #1BBC9B;
    border-top-color: #1BBC9B; } }


