
%contact_form---gray_input_box {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: $login_form-text_filed;
  color: $login_form-text;
  font-weight:lighter;
  border: none;
  width: 100%;
  border-radius: px2rem(5);
  box-sizing: border-box;
  padding: px2rem(10) px2rem(28) px2rem(8) px2rem(28);
  display: block;
  margin: 1.1em 0;
  font-size: px2rem(18);
}

.contact_form{
  width: 87.5%;
  margin: px2rem(10) auto px2rem(8) auto;

  input {
    @extend %contact_form---gray_input_box;
  }


  button{
    @extend %contact_form---gray_input_box;
    background-color: $login_form-btn;
    color:$login_form-btn_text;
    font-weight: 300;

  }
  span{

    a {
      &:hover, &:visited, &:link, &:active {
        display: inline-block;
        color: $login_form-link;
        width: 100%;
        text-align: center;
        font-size: px2rem(14);

      }
    }
  }

}
.contact_form-name{
  &:after {
    position: absolute;
    z-index: 2;
    right: 5px;
    color:#999999;
    top: 10px;
    content: '0sae0'; // <-- changed line
    font-family: FontAwesome;
  }

}
